---
import { Icon } from "astro-icon";

const navbar = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Blog",
    href: "/blog/",
  },
  {
    name: "Docs",
    href: "/docs/",
  },
  {
    name: "Source",
    href: "https://github.com/lancerossdev/nofuss",
  },
];

const desktopIcons = "dark:text-zinc-300 text-black hover:text-zinc-500 dark:hover:text-zinc-400 hidden sm:block";
const mobileIcons = "dark:text-zinc-300 text-black hover:text-zinc-500 dark:hover:text-zinc-400 sm:hidden";
---

<header class="bg-white dark:bg-zinc-900 text-lg dark:text-zinc-300 mx-auto max-w-6xl flex flex-row justify-between">
  <a href="/" class="mx-8 my-5 flex items-center" aria-label="Website Logo">
    <Icon name="lucide:mountain-snow" class="w-8 h-8" />
    <span class="self-center sm:hidden text-2xl font-bold whitespace-nowrap dark:text-white ml-3 mt-1">NoFuss</span>
  </a>
  {
    (
      <nav class="pt-6 flex flex-row space-x-8">
        {navbar.map((navbar) => (
          <a href={navbar.href} class={desktopIcons}>
            {navbar.name}
          </a>
        ))}
      </nav>
    )
  }
  <button class="nav-toggle mx-8 my-5 sm:invisible" aria-label="menu button">
    <Icon name="ri:menu-4-line" class="w-8 h-8" />
  </button>
</header>
<header class="nav-menu hidden bg-white dark:bg-zinc-900">
  {
    (
      <nav class="m-8 flex flex-col inline-flex space-y-3">
        {navbar.map((navbar) => (
          <a href={navbar.href} class={mobileIcons}>
            {navbar.name}
          </a>
        ))}
      </nav>
    )
  }
</header>
